*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Font Families */
@font-face 
{
    font-family: 'BackToSchool';
    src : url('../fonts/BackToSchool.ttf');
}

@font-face 
{
    font-family: 'alarmclock';
    src : url('../fonts/alarmclock.ttf');
}

h1, h2
{
    font-family: 'BackToSchool';
    text-align: center;
    color: white;
    position: relative;
    top: 10px;
}

header
{
    margin:auto;  
    width: 978px;
    height:80px;
    position: relative;
    background-color: rgb(50, 50, 50);
}

nav 
{
    display: flex;
    margin:auto;
    width:auto;
    height: 80px;
    position: relative;
}

nav > div 
{
    flex: 1;
}

nav div:nth-child(2) 
{
    flex : none;
    width: 978px;
    background-color: rgb(75, 75, 75);
}

main
{
    margin:auto;
    width: 978px;
    height: auto;
    background-color: red;
}

section
{
    margin:auto;
    background-color: rgb(50, 50, 50);
}

footer
{
    margin:auto;
    height: 80px;
    width:auto;
    background-color: rgb(75, 75, 75);
}

input
{
    border: solid 1px #888;
}

input:valid
{
    border-color: green;
}

input:required
{
    border-color: red;    
}

input:invalid
{
    border-color: red;    
}

#grid {
    margin: auto;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
}

.hidden{
    visibility: hidden;
}

.placeholder{
    border: 5px solid red;
    width: 200px;
    height: 200px;
    color : white;
    pointer-events:none;
}

.cell{
    width: 298px;
    height: 298px;
    -webkit-user-select: none;
}

.cell:hover{
    width: 298px;
    height: 298px;
    background-color : lightgray;
    border: solid white 1px;
}

.inactiveCell{
    background-color:gray;
    border : solid black 1px;   
}

.selectedCell{
    background-color: yellowgreen;
    border: solid green 1px;
}

.validCell{
    background-color: orangered;
    border: solid red 1px;
}

.boxshadow{
    border-left: 1px solid rgb(38, 38, 38);
    border-right: 1px solid rgb(38, 38, 38);
    box-shadow: 2px 0px 2px rgba(75, 75, 75, 0.6), -2px 0px 2px rgba(75, 75, 75, 0.6);
}

ul{
    list-style-type: none;
}

#register{
    width: auto;
    height: auto;    
}

/*Webworker + progressbar*/
#startWorker{
    position: relative;
    width: 60px;
    height: 30px;
}

#progressContainer{
    position: fixed;
    width: 100%;
    height: 4px;
    z-index: 1;
    border-bottom: 1px solid rgb(38, 38, 38);
}

#progressBar{
    width: 1%;
    height: 4px;
    background-color: red;
}

/* Clock */
#timestampDig{
    font-family: 'alarmclock';
    text-align: center;
    color: green;
    position: relative;
    top: 10px;
    font-size: 20pt;
}

#tabDigital{
    position: absolute;
    width: 298px;
    height: 298px;
    z-index: 1;
}



/*Maak een animatie waarbij de verschillende panelen zullen sliden.*/




#tabAnalogue {
    position: absolute;
    width: 298px;
    height: 298px;
    z-index: 0;
}

#tabSwitch{
    z-index: 2
}