header
{
    margin:auto;
    width: 978px;
    height:120px;
    position:relative;
    background-color:yellowgreen;
}

nav 
{
    margin:auto;
    padding:0px;
    width:auto;
    height: 80px;
    position:relative;
    background-color: yellow;
}

main
{
    margin:auto;
    width: 978px;
    height: auto;
    background-color: red;
}

section
{
    margin:auto;
    background-color: pink;
}

footer
{
    margin:auto;
    height: 80px;
    width:auto;
    background-color: red;
}

#grid {
    margin: auto;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
}

.placeholder
{
    border: 5px solid red;
    width: 200px;
    height: 200px;
    color : white;
    pointer-events:none;
}

.cell
{
    width: 298px;
    height: 298px;
    -webkit-user-select: none;
}

.cell:hover
{
    width: 298px;
    height: 298px;
    background-color : lightgray;
    border: solid white 1px;
}

.inactiveCell
{
    background-color:gray;
    border : solid black 1px;   
}

.selectedCell
{
    background-color: yellowgreen;
    border: solid green 1px;
}

.validCell
{
    background-color: orangered;
    border: solid red 1px;
}

/*#canvasClock
{
    width: 200px;
    height: 200px;
}*/